/*
  Tags
*/
*{
  color: #9EABC6;
  font-family: monospace;
  margin: 0;
  transition: 200ms;
}
html{
  background-color: #1c283b;
  height: 100%;
}

body{
  min-height: 100%;
  background-color: #1c283b !important;
}

h1{
  transition: 400ms;
  color: #4AE85B;;
}
h1:hover{
  transition: 200ms;
  font-size: 300%;
}

h2{
  transition: 200ms;
  padding-bottom: 20px;
}

a{
  transition: 400ms;
}
p > a:hover{
  transition: 200ms;
  font-size: 120%;
  opacity: 80 !important;
}

img {
  max-width: 100%;
  height: auto;
}

/*
  Bootstrap Classes
*/

/*
  Header Container & Images
*/
header{
  background-color: #131C2A;
  margin: 0;
  padding: 25px 25px 0 25px;
}

.kieranPfPImg{
  transition: 400ms;
  width: 13%;
  animation: pulse 3s linear infinite;
}
.kieranPfPImg:hover{
  transition: 200ms;
  width: 14%;
}
/*
  Image Animation
*/
@keyframes pulse {
  0% {
      -webkit-transform: scale(1.0);
      transform: scale(1.0);
  }
  50% {
     -webkit-transform: scale(1.05);
     transform: scale(1.05);
  }
  100% {
      -webkit-transform: scale(1);
     transform: scale(1);
  }
}

#kieranDeskImg{
  transition: 400ms;
  width: 50%;
}
#kieranDeskImg:hover{
  transition: 200ms;
  width: 54%;
}




/*
  Header Bodies
*/
#mainHead{
  display: none;
}
#subContainers{
  transition: 200ms;
}
#swenDiv{
  display: none;
}
#wdevDiv{
  display: none;
}
#musDiv{
  display: none;
}

.skilldiv{
  background-color: #2A3C59;
}

/*
  Main Section

main{
  background-color: #2A3C59;
  padding: 20px 75px 20px;
}
*/



/*
  Footer
*/
footer{
  background-color: #1c283b;
  margin: 0;
  max-height: 10%;
}

a > img{
  transition: 400ms;
  width: 50px;
}
a > img:hover{
  transition: 200ms;
  width: 80px;
}