body {
  background-color: #141D2B;
  color: #9EABC6;
  font-family: monospace;
  font-size: 150%;
  margin: 0;
  text-align: center;
}

h1 {
  color: #4AE85B;
  margin-top: 0;
}

h2{
  color: white;
}

h3{
  color: white;
}

hr{
  margin-bottom: 0;
  margin-top: 0;
}

img{
  object-fit: contain;
}

.Underline {
  text-decoration: underline;
}

.TopContainer {
  background-color: #131C2A;
  padding-top: 80px;
  position: relative;
}

.KieranPfP {
  clip-path: circle();
  width: 15%;
}
.HeaderPic {
  display: block;
  height: 20%;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.MiddleContainer {
  margin: auto;
  position: relative;
}

.skills {
  background-color: #2A3C59;
}

.skillsheader {
  margin-top: 0;
  padding-top: 20px;
}

.SkillPicLeft {
  float: left;
  margin-right: 30px;
  width: 150px;
}
.SkillPicRight {
  float: right;
  margin-left: 30px;
  width: 150px;
}

.SkillDescriptionLeft {
  clear: right;
}
.SkillDescriptionRight {
  clear: left;
}

.skill-row {
  line-height: 2;
  margin: 50px auto 50px auto;
  text-align: left;
  width: 50%;
}

.BottomContainer {
  position: relative;
}

.footer-link {
  width: 5%;
}

.ContactButton {
  background-color: green;
  color: black;
  font-family: monospace;
  font-size: 110%;
  height: 20%;
  width: 10%;
}
