*{
    color: #89B0F5;
    font-family: monospace;
    font-size: 14px;
    transition: 200ms;
}

body, html {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

#app{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

h2{
    color: orange;
    font-size: 22px;
    margin: 5px 15px;
    @media only screen and (max-width: 600px) {
      margin: 0 5px;
    }
}

h3{
    font-size: 20px;
}

h4{
    font-size: 18px;
}
