*{
    color: #89b0f5;
    font-family: monospace;
    font-size: 16px;
    transition: 200ms;
}

body, html {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

#app{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
